/* Déclaration police*/
@font-face 
    {
        font-family: Raleway_bold;
        src: url('font/Raleway-extraBold.ttf');
    }

@font-face 
    {
        font-family: Raleway_light;
        src: url('font/Raleway-Medium.ttf');
    }

@font-face
    {
        font-family: Raleway;
        src: url('font/Raleway-Regular.ttf')
    }

@font-face
    {
        font-family: Raleway_medium;
        src: url('font/Raleway-SemiBold.ttf')
    }

@font-face
    {
        font-family: Raleway_large;
        src: url('font/Raleway-Bold.ttf')
    }



/* Règles générales de la page */

body
    {
        font-family: Raleway;
        --bleu_reservia: #0065FC;
        --gris: #F2F2F2;
        --bleu_clair: #deebff;
        margin: 0px;
    }

.no_style
    {
        text-decoration: none;
        color: inherit;
    }

.spe_filtres
    {
        margin-right: 20px;
    }

h2
    {
        font-family: raleway_bold;
        font-size: 1.3em;
        margin-block-start:30px;
        margin-bottom: 25px;
    }

h3 
    {
        font-family: raleway_bold;
        font-weight: bolder;
        font-size:1.3em;
        margin-block-start: 16px;
    }


/* Mise en page du header */

header
    {
        margin-right: 7.5%;
        margin-left: 7.5%;
        display: flex;
        flex-wrap:wrap;
    }

    /* LOGO + INSCRIPTION */
    .logo_inscription
    {
        display: flex;
        margin-top: 35px;
    }
    /* NAVIGATION */
    nav 
    {
        position: absolute;
        right: 20%;
    }

    .menu    
    {
        height: 56px;
        list-style-type: none;
        display: flex;  
        padding-left: 0px;
        padding-right: 0px;
        margin-block-start: 0px;
    }

    .bouton_actif, .bouton_inactif
    {
        padding-top: 29px;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    
    }

    .bouton_actif
    {
        color: var(--bleu_reservia);
        border-top: solid 2px var(--bleu_reservia);
        font-size: 0.98em;
        font-family: raleway_medium;
    }

    .bouton_inactif
    {
        border-top: solid 2px white;
        font-size: 0.98em;
        font-family: raleway_light;
    }

    .inscription
    {
        color: var(--bleu_reservia);
        font-family: raleway_bold;
        padding-top: 29px;
        border-top: solid 2px white;
        padding-left: 7%;
        padding-right: 20px;
    }

    .inscription_mobile
    {
        display: none;
    }



/* Mise en page de la section recherche*/

#recherche
    {
        margin-top: 30px;
        margin-right: 7.5%;
        margin-left: 7.5%;
        margin-bottom: 25px;

    }

    /* TITRE + MOTTO */
    h1
    {
        font-family: raleway_large;
        font-size: 1.37em;
    }
    .titre 
    {
        margin-block-end: 10px;
    }
    .motto
    {
        font-family: raleway;
        font-size: 1em;
        margin-block-start: 0px; 
        margin-block-end: 10px;  
        font-weight: normal; 
    }

    /* BARRE DE RECHERCHE */
    .barre_recherche
    {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 25px;
    }
    /* ICONE GPS */
    .GPS
    {
        background-color: var(--gris);
        width: 50px;
        height: 50px;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
    }

    .icone_gps
    {
        position: relative; top:33%; left:40%;
    }

    /* FORMULAIRE DE RECHERCHE */
    .champ_recherche
    {
        position:relative;
        bottom: 16px;
    }
    #location
    {
        height: 50px;
        border-left: none;
        border-right: none;
        border-top: 1px solid var(--gris);
        border-bottom: 1px solid var(--gris);
        font-family: raleway_bold;
        font-size:1.1em;
        padding-left:15px;
    }
    /* Bouton de recherche */
    .bouton_recherche_desktop
    {
        height:50px;
        position: relative;
        bottom: 1px;
        background-color: var(--bleu_reservia);
        color: white;
        font-family: raleway_large;
        font-size:1em;
        border:none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: 1px solid var(--bleu_reservia);
        border-bottom: 1px solid var(--bleu_reservia);
        position: relative;
        right: 3px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }
    .bouton_recherche_mobile
    {
        display: none;
    }
    .bouton_mobile 
    {
        display:none;
    }

    .bouton 
    {
        color: white; font-size: 1.7em;
    }

    /* FILTRES */
    .container_filtres
    {
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
    .fil 
    {
        font-size:1.1em;
        margin-right: 30px;
    }
    .filtres 
    {
        border: solid 3px var(--gris);
        border-radius: 40px;
        display: flex;
        height: 45px;
    }
    .filtres:hover 
    {
       background-color: var(--bleu_reservia);
       color: white;
    }
    .rond
    {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: inline-block;
        background-color: #deebff;
        padding: 3px;
        position: relative;
        bottom: 2px;
        right:3px;
        padding-right: 5px;
        font-size: 23px;
    }
    .texte_filtre
    {
        font-family: raleway_bold;
        font-size:1.1em;
        padding:10px;
        padding-right: 15px;
        position: relative;
        bottom: 15px;
    }

    .pets 
    {
        flex-wrap: nowrap;
    }

    .pos 
    {
        top: 18%; left: 22%;
    }

    .posun
    {
        top: 20%; left: 18%;
    }

    .posdeux
    {
        top: 20%; left: 32%;
    }

    .postrois 
    {
        top: 20%; left: 24%;
    }

    .filcont
    {
        color: #0065FC; position:relative;
    }

    /* RESULTATS */
    .bloc_resultat
    {
        display: flex;
        margin-top: 25px;
    }
    .cercle
    {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: 2px solid var(--gris);
        display: inline-block;
    }
    h5
    {
        position: relative;
        bottom: 26px;
        padding-left: 10px;
        width: 75%;
        font-weight: initial;
        font-size: 1.1em;
        margin-block-end: 0px;
    }

    .loupe
    {
        color:#0065FC; font-size: 12px; margin-left: 8px; margin-bottom: 1px;
    }

/* CORPS DU SITE */
#bloc1
    {
        display: flex;
        margin-top: 0px;  
        margin-right: 7.5%;
        margin-left: 7.5%;      
        margin-bottom: 50px;
        justify-content: space-between;
    }

/* SECTION HEBERGEMENT */
#hebergements
    {
        background-color: var(--gris);
        flex: 2.5;
        margin-right: 3.5%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5px;
        padding-bottom: 25px;
        border-radius: 20px;
    }
    /* GRILLE RESULTATS */
    .container_grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        align-content: space-between;
        justify-items: center;
        align-content: center;
    }
    .fiche_vert
    {
        background-color: white;
        width: 88%;
        border-radius: 20px;
        border: solid 2px white;
        padding-right: 4px;
        padding-left:4px;
        padding-top: 0px;
        box-shadow: 0px 0px 12px gray;
        display: flex;
        flex-direction: column;
    }
    .A  
    {
        justify-self: start;
    }
    .C  
    {
        justify-self: end;
    }
    .ranghaut
    {
        margin-bottom: 15px;
    }
    .rangbas
    {
        margin-top: 15px;
    }
    .image_vert
    {
        width: 100%;
        height: 120px;
        margin-top:0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        position: relative;
        bottom: 13px;
        margin-bottom:-25px;
        object-fit: cover;
    }
    .last 
    {
        margin-bottom: 20px;
    }
    .nom_hotel
    {
        font-family: raleway_large;
        margin-top: 0px;
        padding-bottom: 0px;
        margin-bottom:5px;
        padding-bottom:0px;
        padding-left: 15px;
    }
    .prix
    {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 0.9em;
        margin-bottom:5px;
        padding-bottom:0px;
        padding-left: 15px;
    }
    .rating
    {
        display: flex;
        padding-left: 15px;
        justify-content: left;
        margin-bottom: 5px;
    }

    .blue_star
    {
        color: var(--bleu_reservia)
    }

    .grey_star
    {
        color: var(--bleu_clair)
    }
    .CTA 
    {
        margin-top: 40px;
        font-family: raleway_large;
    }

    /* LES PLUS POPULAIRES */
    aside 
    {
        background-color: var(--gris);
        flex: 1;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5px;
        padding-bottom: 20px;
        border-radius: 20px;
    }
    .chart
    {
        font-size: 1.5em;
        padding-top: 30px;
    }
    .display_pop
    {
        display: flex;
        justify-content: space-between;
    }
    /* GRILLE POPULAIRE */
    .container_hori
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 89%;
        margin-block-end: 20px;

    }
    .fiche_hori
    {
        background-color: white;
        border-radius: 20px;
        border: solid 2px white;
        padding-right: 4px;
        padding-left:4px;
        padding-top: 4px;
        padding-bottom: 4px;
        box-shadow: 0px 0px 20px gray;
        display: flex;
        flex-direction: row;
        min-width: 218px;
    }
    .image_hori
    {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 135px;
        width:40%;
        margin-right: 10px;
        object-fit: cover;
    }
    .texte_hori
    {
        padding-top: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .rating_hori
    {
        display: flex;
        padding-left: 10px;
        justify-content: left;
        margin-bottom: 5px;
    }
    .pop 
    {
        padding-left: 5px;
        min-width: 123px;;
    }

/* SECTION ACTIVITES */
#activites
    {
        margin-left: 7.5%;
        margin-right: 7.5%;
        margin-bottom: 50px;
    }
    /* GRID ACTIVITES */
    .grid_activites
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    justify-items: center;
    align-content: center;
    gap: 40px;
    }
    .fiche_acti
    {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 0px 20px gray ;
        background-color: white;
    }
    .colone_2
    {
        grid-column-start: 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        width:100%;
        justify-content: space-between;
    }
    .port
    {
        grid-column-start: 1;
        grid-row: 1 / 3;
    }
  
    .parc 
    {
        grid-column-start: 3;
        grid-row: 1 / 3;
    }
    .dame 
    {
        grid-column-start: 4;
        grid-row: 1 / 2;
    }
  .fort 
  {
      margin-bottom: 40px;
  }
    .longchamp
    {
        grid-column-start: 4;
        grid-row: 2 / 3; 
    }
    .image_activites
    {
        width:100%;
        object-fit: cover;
        flex: 3;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }
    .long 
    {
        height:390px;
    }
    .grand
    {
        height: 200px;
    }
    .petit
    {
        height: 100px;
    }
    .demi
    {
        height: 145px;
    }
    .frioul
    {
        padding-bottom:10px;
    }
    .texte_activites
    {
        padding-left: 20px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        font-family: raleway_large;
        flex-shrink: 1;
    }
    .fiche
        {
            display: flex;
            flex-direction: column;
        }

/* Mise en page du footer*/
footer
    {
        width: 100%;
        margin: 0px;
        background-color: var(--gris);
        padding-top: 25px;
        font-family: raleway_light;
        font-size: 0.9em;
        font-size:medium;
        display: flex;
        padding-bottom: 25px;
    }

.footer 
    {
        width: 28.7%;
        margin-left: 7.7%;
    }
.footer_B
    {
        width: 28.8%;
    }
.menu_footer
    {
        padding-top: 1px;
        padding-left: 0px;
        list-style-type: none;
    }
.choix_footer
    {
        margin-bottom: 13px;
        color: black;
        text-decoration: none;
    }





/* Pour téléphones */
@media screen and (max-width:767px)
    {
        

body 
        {
            margin: 0px;
        }
/* Header mobile */
header
        {
            margin-left:0px;
            margin-right: 0px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    /* Logo + Inscription */
    .logo_inscription
        {
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 7.5%;
            margin-right: 7.5%;
        }
    .inscription_mobile
        {
            display: inline-block;
            color: var(--bleu_reservia);
            font-family: raleway_bold;
            text-align: end;
        }
    .inscription
        {
            display: none;
        }
    /* NAVIGATION */
    nav
        {
            width: 100%;
            margin-left: 0px;
            position: initial;
        }
    .menu    
    {
        height: 56px;
        list-style-type: none;
        display: flex; 
    }
    .bouton_actif, .bouton_inactif
    {
        padding-top: 29px;
        text-align: center;
        padding-left: 7%;
        padding-right: 7%;
        width: 50%;
    }
    .bouton_actif
    {
        border-top:none;
        border-bottom: solid 2px var(--bleu_reservia);
    }
    .bouton_inactif
    {
        border-top: none;
        border-bottom: solid 2px var(--gris);
    }

/* Section recherche mobile */
    /* ICON GPS*/
    .GPS
    {
        background-color: var(--gris);
        width: 60px;
        height: 60px;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
    }
    /* BARRE DE RECHERCHE */
    #location
    {
        height: 60px;
        border-left: none;
        border-right: none;
        border-top: 1px solid var(--gris);
        border-bottom: 1px solid var(--gris);
        font-family: raleway_bold;
        font-size:1.1em;
        padding-left:15px;
        padding-right: 25px;
        position: relative;
        bottom: 2px;
        z-index: 1;
    }
    form
    {height: 62px;}
    .champ_recherche
        {
            margin: 0px;
            position: initial;
        }
    /* BOUTON DE RECHERCHE */
    .bouton_recherche_mobile
    {
        height:60px;
        width:60px;
        background-color: var(--bleu_reservia);
        border:none;
        border-radius: 15px;
        border-top: 1px solid var(--bleu_reservia);
        border-bottom: 1px solid var(--bleu_reservia);
        position: relative;
        right: 12px;
        padding-left: 15px;
        padding-right: 15px;
        display: initial;
        z-index:3;
        cursor: pointer;
    }
    
     .bouton_recherche_desktop
    {
        display: none;
    }

    /* FILTRES */
    .container_filtres
    {
        margin-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
    .fil    
    {
        width: 100%;
    }
    .filtres
    {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 15px;
    }

/* CORPS DU SITE */
#bloc1
    {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 0px;        
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        margin-bottom: 41px;

    }

    /* POPULAIRES */
    aside
    {
        width: auto;
        background-color: var(--gris);
        border-radius: 0px;
        padding-left: 7.5%;
        padding-right: 7.5%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 41px;
    }
    .display_pop
    {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* GRILLE POPULAIRE */
    .container_hori
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: 89%;
        
    }
    .fiche_hori
    {
        background-color: white;

        width: auto;
        border-radius: 20px;
        border: solid 2px white;
        padding-right: 0px;
        padding-left:4px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 20px gray;
        display: flex;
        flex-direction: row;
    }
    .image_hori
    {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 150px;
        width: 40%;
        margin-right: 10px;

    }
    .texte_hori
    {
        padding-top: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .rating_hori
    {
        display: flex;
        padding-left: 10px;
        justify-content: left;
        margin-bottom: 5px;
    }
    .pop 
    {
        padding-left: 5px;
        min-width: 123px;;
    }
/* Hebergement */
#hebergements
    {
        background-color: white;
        flex: 2.5;
        margin-right: 0px;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
    }
    .titre_heberg, .CTA
    {
        padding-left: 7.5%;
    }
    .container_grid
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        justify-items: center;
        align-content: center;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    .fiche_vert
    {
        background-color: white;
        width: initial;
        border-radius: 20px;
        border: solid 2px white;
        padding-right: 4px;
        padding-left:4px;
        padding-top: 0px;
        box-shadow: 0px 0px 12px gray;
        display: flex;
        flex-direction: column;
        height: 250px;
        margin-bottom: 25px;
    }

    .rangbas
    {
        margin-top: 0px;
    }
    .image_vert
    {
        height: 170px;
    }

    .CTA
    {
        margin-top: 0px;
    }
/* ACTIVITES MOBILES */
#activites
    {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    /* GRID ACTIVITES */
    .grid_activites
    {
    display: flex;
    flex-direction: column;
    }
    .fiche_acti
    {
        border-radius: 20px;
        box-shadow: 0px 0px 20px gray ;
        background-color: white;
    }
    .image_activites
    {
        margin: 0px;
        padding: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 300px;
    }
    .texte_activites
    {
        padding-left: 20px;
        margin-bottom: 0px;
        font-family: raleway_large;
    }
    .long 
    {
        height: 300px;
    }
    .grand
    {
        height: 300px;
    }
    .petit
    {
        height: 300px;
    }
    .demi
    {
        height: 300px;
    }

    .fort 
    {
        margin-bottom: 40px;
    }

/* Footer mobile*/
footer
    {

        width: 100%;
        margin: 0px;
        background-color: var(--gris);
        padding-top: 25px;
        font-family: raleway_light;
        font-size: 0.9em;
        font-size:medium;
        display: flex;
        flex-direction: column;
    }

h3 
    {
        font-family: raleway_bold;
        font-weight: bolder;
        font-size:1.3em;
        
    }
.footer 
    {
        width: 75%;
        margin-left: 10%;
    }

.footer_B
    {
        width: 75%;
        margin-left: 10%;

    }

.menu_footer
    {
        padding-top: 1px;
        padding-left: 0px;
        list-style-type: none;
    }

.choix_footer
    {
        margin-bottom: 13px;
        color: black;
        text-decoration: none;
    }


    }


/* Pour tablette */
@media screen and (max-width:1024px) and (min-width: 768px)
{
    /* Header mobile */
    body 
    { margin-left:0px;
        margin-right: 0px;
        margin: 0px;
    }
h2
{
    margin-top:25px;
}

header
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:0px;
    margin-right: 0px;
}
/* Logo + Inscription */
.logo_inscription
{
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.inscription_mobile
{
    display: inline-block;
    color: var(--bleu_reservia);
    font-family: raleway_bold;
    text-align: end;
}
.inscription
{
    display: none;
}
/* NAVIGATION */
nav
{
    width: 100%;
    margin-left: 0px;
    position: initial;
}
.menu    
{
height: 56px;
list-style-type: none;
display: flex; 
margin-top: 0px;
}
.bouton_actif, .bouton_inactif
{
padding-top: 29px;
text-align: center;
padding-left: 7%;
padding-right: 7%;
width: 50%;
}
.bouton_actif
{
border-top:none;
border-bottom: solid 2px var(--bleu_reservia);
}
.bouton_inactif
{
border-top: none;
border-bottom: solid 2px var(--gris);
}

.motto
{
 
    margin-block-end: 10px;  
}

#recherche
{
    margin-bottom: 10px;
}

.last
{
    margin-bottom: 0px;
}
/* CORPS DU SITE */
#bloc1
    {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 0px;        
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
    }

    /* POPULAIRES */
    aside
    {
        width: auto;
        background-color: var(--gris);
        border-radius: 0px;
        padding-left: 7.5%;
        padding-right: 7.5%;
        margin-left: 0px;
    }
    .display_pop
    {
        display: flex;
    }
    /* GRILLE POPULAIRE */
    .container_hori
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-content: space-between;
        justify-items: center;
        align-content: center;
        gap: 40px;
        
    }
    .fiche_hori
    {
        background-color: white;
        border-radius: 20px;
        border: solid 2px white;
        padding-right: 0px;
        padding-left:4px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 0px;
        box-shadow: 0px 0px 20px gray;
        display: flex;
        flex-direction: row;
        min-width: 0px;
    }
    .image_hori
    {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 150px;
        width: 40%;
        margin-right: 0px;
    }
    .texte_hori
    {
        padding-top: 10px;
        padding-right: 20px;
        font-size: 1em;
        min-width: 0px;

    }
    .rating_hori
    {
        display: flex;
        padding-left: 15px;
        justify-content: left;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .pop
    {
        min-width: 0px;
    }

    #hebergements
    {
        background-color: white;
        flex: 1;
        margin-right: 0px;
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 0px;
    }
    /* GRILLE RESULTATS */
    .container_grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        align-content: space-between;
        justify-items: center;
        align-content: center;
    }
    .container_hori
    {
        gap:25px;
    }
    .fiche_vert
    {
        background-color: white;
        width: 88%;
        border-radius: 20px;
        border: solid 2px white;
        padding-right: 4px;
        padding-left:4px;
        padding-top: 0px;
        box-shadow: 0px 0px 12px gray;
        display: flex;
        flex-direction: column;
    }
    .A  
    {
        justify-self: start;
    }
    .C  
    {
        justify-self: end;
    }
    .ranghaut
    {
        margin-bottom: 15px;
    }
    .rangbas
    {
        margin-top: 15px;
    }
    .image_vert
    {
        width: 100%;
        height: 120px;
        margin-top:0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        position: relative;
        bottom: 13px;
        margin-bottom:-25px;
        object-fit: cover;
    }
    .nom_hotel
    {
        font-family: raleway_large;
        margin-top: 0px;
        padding-bottom: 0px;
        margin-bottom:5px;
        padding-bottom:0px;
        padding-left: 15px;
    }
    .prix
    {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 0.9em;
        margin-bottom:5px;
        padding-bottom:0px;
        padding-left: 15px;
    }
    .rating
    {
        display: flex;
        padding-left: 15px;
        justify-content: left;
        margin-bottom: 5px;
    }
    .CTA 
    {
        margin-top: 40px;
        font-family: raleway_large;
    }

    /* Footer mobile*/
footer
{

    width: 100%;
    margin: 0px;
    background-color: var(--gris);
    padding-top: 25px;
    font-family: raleway_light;
    font-size: 0.9em;
    font-size:medium;
    display: flex;
    flex-direction: column;
}

h3 
{
    font-family: raleway_bold;
    font-weight: bolder;
    font-size:1.3em;
}
.footer 
{
    width: 75%;
    margin-left: 10%;
}

.footer_B
{
    width: 75%;
    margin-left: 10%;
}

.menu_footer
{
    padding-top: 1px;
    padding-left: 0px;
    list-style-type: none;
}

.choix_footer
{
    margin-bottom: 13px;
    color: black;
    text-decoration: none;
}

}






@media screen and (max-width:481px)
{
    .GPS
    {
        background-color: var(--gris);
        width: 30px;
        height: 40px;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
        padding-left: 0px;
    }
    .icone_gps
    {
        position: initial;
        padding-top: 12px;
        padding-left: 9px;
    }
    /* BARRE DE RECHERCHE */
    #location
    {
        height: 40px;
        width: 115px;
        border-left: none;
        border-right: none;
        border-top: 1px solid var(--gris);
        border-bottom: 1px solid var(--gris);
        font-family: raleway_bold;
        font-size:0.7em;
        padding-left:5px;
        padding-right: 5px;
        position: relative;
        bottom: 4px;
        z-index: 1;
    }

    .bouton_recherche_mobile
    {
        width:30px;
        height: 40px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-left: 3px;
    }
    form
    {height: 62px;}

    .champ_recherche
        {
            width: 150px;
        }
    /* BOUTON DE RECHERCHE */
   
     .bouton_recherche_desktop
    {
        display: none;
    }

    h1
    {
        font-size: 1.1em;
    }

}




@media screen and (max-width:767px) and (min-width: 482px) and (min--moz-device-pixel-ratio:0)

{
    #location
    {
        height: 60px;
        border-left: none;
        border-right: none;
        border-top: 1px solid var(--gris);
        border-bottom: 1px solid var(--gris);
        font-family: raleway_bold;
        font-size:1.1em;
        padding-left:15px;
        padding-right: 25px;
        position: initial;
        z-index: 1;
    }
}