/* Déclaration police*/
@font-face 
    {
        font-family: Raleway_bold;
        src: url('font/Raleway-extraBold.ttf');
    }

@font-face 
    {
        font-family: Raleway_light;
        src: url('font/Raleway-Medium.ttf');
    }


/* Mise en page du footer*/
footer
    {
        position: absolute;
        right: 0px;
        width: 100%;
        height: 215px;
        margin: 0px;
        background-color: #F2F2F2;
        padding-top: 25px;
        font-family: raleway_light;
        font-size: 0.9em;
        font-size:medium;
        display: flex;
    }

h3 
    {
        font-family: raleway_bold;
        font-size: 2.15ex;
        font-weight: bolder;
    }
.footer 
    {
        width: 25%;
        margin-left: 3.4%;
    }
.menu_footer
    {
        padding-top: 1px;
        padding-left: 0px;
        list-style-type: none;
    }

.choix_footer
    {
        padding-bottom: 13px;
    }

